/* 
*/
*{
    margin: 0 0;
    padding: 0 0;
    font-family: 'Times New Roman', Times, serif; 
    
}

.container{

    border: 3px, solid rgb(76, 0, 255);
    width: 70%;
    margin: 0 auto;
    padding: 1px;
}
.Font1 {
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-align: center;
font-weight: bold;
}

.container1{

    border: 3px, solid rgb(76, 0, 255);
    width: 70%;
    margin: 0 auto;
    padding: 1%;
    background-color: yellowgreen;
}
.img-responsive{
    height: 400px;
    width: 270px;
}
.img-responsives{
    
    width: 100%;
}
.img-responsive2{
    
    width: 100%;
}
.img-responsive3{
    
    width: 275px;
    height: 400px;
}
.img-responsive5{
    height: 400px;
    width: 270px;
}
.text-right{
    text-align: right;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    font-weight: bold;
    
}

.text-center{
    text-align: center;
}
.text-white{
 color: white;
}
.clearfix{
    clear: both;
    float: none;
}

a{
    color: rgb(98, 0, 255);
    text-decoration: none;
}

a:hover{
    color: brown;
}

/* .btn-success {
    padding-right: 30px;
} */

.btn{
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
}

.btn-primary{
    background-color: rgb(245, 60, 13);
    color: white;
    cursor: pointer;
}
.btn-primary:hover{
    background-color: rgb(92, 94, 45);
}

h2{
    color: #2f3542;
    font-size: 2rem;
    margin-bottom: 2%;
}

.float-container{
position:relative;
}
.float-container14{
    position:relative;
    }
.float-text{
 position:absolute;
 bottom:30px;
 left:90px;
}

/* css for navbar section */
.logo{
    height: 50px;
    width:  100px;
    
    float:left;
    
    
}
.menu{
    line-height: 60px;
    text-decoration-line: underline;
    line-break: strict;
    
    background-color: greenyellow;
    background-blend-mode: color ;
    /* background-size:contain; */
    
    
}

.loc{
    background-image: url(../images/efqew.jpg);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.back{
    background-color:gold;
}

.menu ul{
    list-style-type: none;
}
.menu ul li{
    display: inline;
    padding: 3px;
    font-weight: bold;
}

/* css for food ssearch class */

.food-search{
    background-image: url(../images/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:top;
    padding: 6% 0;
    background: cadetblue;
    
}

.food-search input[type="search"]{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}

/* css for categories */
.categories{
    padding: 4% 0;
}

.box-3{
  border:1px solid black;
width:28%;
float:left;
margin:2%;
}

/* css for food menu */

.food-menu-box{
  border:1px solid black;
  width:45%;
  padding:1%;
  margin:1%;
 float:left;
 border-radius:15px;
}

.food-menu-img{
 width:19%;
 float:left;
}

.food-menu-desc{
   width:70%;
  float:left;
  margin-left:8%;
}

.food-price{
 font-size: 1.2rem;
 margin: 2% 0;
}

.food-detail{
    font-size: 1rem;
    color: #747d8c;
}

/* css for social */
.social ul{
list-style-type: none;
}
.social ul li{
    display: inline;
    padding: 1%;
}

/*mobile verzion*/
@media only screen and (max-width:768px){
    .logo{
        width: 80%;
        float:inline-start;
        margin: 1% auto;
    }
    .menu ul{
        text-align: center;
    }
    .food-search input[type="search"]{
        width: 90%;
        margin-bottom: 5%;
        padding: 2%;
    }

    .btn {
        width: 91%;
        padding: 2%;
    }

    .food-search{
        padding: 10% 0;
    }

    .categories{
        padding: 20% 0;
    }

    h2{
        margin-bottom:5%;
    }
    .box-3{
        width: 90%;
        margin: 4% auto;
    }

    .food-menu{
        padding: 20% 0;
    }
    .food-menu-box{
        width: 90%;
        padding: 5%;
    }

    .social{
        padding: 60% 0;
    }

}
